@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* step 1 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* step 2 */
body {
    background: #f8f8f8;
    color: #000000;
    font-family: 'Open Sans', sans-serif;

    padding: 30px;
}

/* step 3 */
.gridWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(260px, auto);
    grid-gap: 15px;
}

/* step 4 */
.wrapper {
    background-size: cover;
    position: relative;
    z-index: 2;

    transition: all 0.5s ease-in;
}

/* step 6 */
.wrapper:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

/* step 7 */
.wrapper > div {
    cursor: pointer;
    padding: 20px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* step 8 */
h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    margin-bottom: 30px;
}
p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

/* step 9 */
.wrapper:before {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 0.3;
}

/* step 10 */
.wrapper:hover {
    transform: scale(0.98);
}

/* step 5 */
.bg1 {
    background: url('./img/img1.jpg');
}

.bg2 {
    background: url('./img/img2.jpg');
}

.bg3 {
    background: url('./img/img3.jpg');
}

.bg4 {
    background: url('./img/img4.jpg');
}

.bg5 {
    background: url('./img/img5.jpg');
}
@media only screen and (min-width: 320px) and (max-width: 414px) {
    .gridWrapper {
        grid-template-columns: 1fr;
    }
    .wrapper:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
    }
}
